body {
    background: url("../assets/dark-bg.jpg");
    background-attachment: fixed;
    color: whitesmoke;
}

.header-img {
    display: inline;
    
}

#soccer, #ice-hockey {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.reveal {
    color: black;
}