* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background image style */
body {
  background: url("../images/dark-bg.jpg");
  background-attachment: fixed;
  color: whitesmoke;
}

/* reveal background image style */
.reveal {
  background: url("../images/blue-bg.jpg");
  background-attachment: fixed;
}

/* Logo image style */
.header-img {
  display: inline;
}

/* league icons style */
#soccer,
#ice-hockey {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* Title - Brand Logo */

.logo h1 {
  font-family: "Audiowide", cursive;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
}

/* Make cards relative units */
.column {
  float: left;
  width: 25%;
  padding: 0 15px;
}

/* Remove margins, from above padding in columns */
.row {
  margin: 0 15px;
}

/* Style Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 14px;
  text-align: center;
  align-items: center;
  background-color: #f1f1f1;
}

/* Sizing for Team Logo */
#team-logo {
  width: 250px;
  height: 150px;
}

/* Style for the button group in query search */
.button-group {
  margin-bottom: 20px;
}

/* media query for the header and nav section on small screens */
@media screen and (max-width: 595px) {
  .header-img {

    display: flex;
    align-items: center;
    flex-direction: column;
  }

}

/* media query to display league icons on small screens */
@media screen and (max-width: 370px) {

  #soccer,
  #ice-hockey {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
