* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cards section begins */
/* Title - Brand Logo */
.logo h1 {
  font-family: "Audiowide", cursive;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
}

/* Make cards relative units */
.column {
  float: left;
  width: 25%;
  padding: 0 15px;
}

/* Remove margins, from above padding in columns */
.row {
  margin: 0 -15px;
}

/* Clear floats after columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Style Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 14px;
  text-align: center;
  align-items: center;
  background-color: #f1f1f1;
}

/* Sizing for Team Logo */
#team-logo {
  width: 250px;
  height: 150px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
